
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  font-family: var(--font-inter);
}

.font-mono {
  font-family: var(--font-mono);
}

pre, code {
  font-family: var(--font-mono);
}
